@import url(http://fonts.googleapis.com/css?family=Pacifico);
html,
body {
  background-color: #d2d7d3;
}
body {
  padding: 30px 0px 0px 0px;
}
@media all and (max-width: 767px) {
  .row {
    margin: 0;
  }
}
div.header h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}
div.content h1 {
  text-align: center;
}
div.content table tr,
div.content table th,
div.content table td {
  border-color: #6c7a89;
}
@media all and (max-width: 767px) {
  div.content div.container {
    padding-right: 0px;
    padding-left: 0px;
  }
}
div.content .row {
  padding: 20px 10px 20px 0px;
}
@media all and (max-width: 767px) {
  div.content .row {
    padding-right: 0px;
  }
}
